@import "./base.css";
@import "primeicons/primeicons.css";

#app {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 900px) {
  #app {
    padding: 2rem 6rem;
  }
}

body > .p-dialog-mask {
  padding: 0 1rem;
}
